.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.container_toolbar {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.container__plantBrowser {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 15%;
    width: 100%;
}

.plantBrowser__item {
    width: 5vw;
    display: flex;
    justify-content: center;
}

mat-chip.mat-standard-chip {
    font-family: Saira;
    background-color: black;
    color:white
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
    background-color: #F2E352;
}

.toolbar__toggle {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: black;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: white;
}

.container_photoContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 80vh;
    width: 50%;
    padding-left: 25vw;
    padding-right: 25vw;
}
