.plantCard {
    width: 250px;
    height: 250px;
    border: 20px solid black;
    border-bottom-width: 55px;
    margin-bottom: 10vh;
    background-size: cover;
    background-position: center;
}

.plantCard--gray {
    width: 250px;
    height: 250px;
    border: 20px solid #5f5f5f;
    border-bottom-width: 55px;
    margin-bottom: 10vh;
    background-size: cover;
    background-position: center;
}
