<div class="photoPage">
  <div class="photoPage__plantContainer">
    <div class="plantContainer__photoContainer">
      <div class="plantContainer__plantType">
        <div class="photoPage__arrow" (click)="navigateToHome()">
          <mat-icon [inline]="true">west</mat-icon>
        </div>
        <h1 class="plantContainer__plantType--font">{{ plantType }}</h1>
      </div>
      <div
        class="plantContainer__photo"
        style="
      background-image: url({{ plantPhotoUrl }})
      "
      ></div>
    </div>
    <div class="plantContainer__description">
      <div class="plantContainer__descriptionBox">
        <h1 class="plantContainer__description--font">DESCRIPTION</h1>
        <p>{{ plantData.Description }}</p>
        <p class="plantContainer__description--font"> FAMILY </p>
        <p>{{ plantData.Family }}</p>
        <p class="plantContainer__description--font"> KINGDOM </p>
        <p>{{ plantData.Kingdom }}</p>
        <p class="plantContainer__description--font"> NAME </p>
        <p>{{ plantData.Name }}</p>
        <p class="plantContainer__description--font"> ORDER </p>
        <p>{{ plantData.Order }}</p>
      </div>
    </div>
  </div>
  <app-plant-list
    class="photoPage__plantList"
    [forPlantPage]="true"
    [plantType]="plantType"
    [displayedInPexelsPage]= "displayedInPexelsPage"
  ></app-plant-list>
</div>
